  /* ハンバーガー画像の共通設定 */
    .hamburger-wrapper {
      position: fixed;
      top: 60px;
      left: 320px;
      z-index: 1001;
      cursor: pointer;
    }
    
   .hamburger-icon {
      width: 36px;
      height: 36px;
      cursor: pointer;
      pointer-events: auto;
    }

    .open-icon {
      display: block; /* 最初に表示されるのは「メニューを開く」画像 */
    }
    .close-icon {
      display: none;
    }

    /* モバイルメニュー */
    .mobile-nav {
      display: none; /* jQueryで fadeToggle */
      position: fixed;
      top: 0;
      left: 0;
      width: 80%;
      max-width: 320px;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.96);
      padding: 80px 20px;
      z-index: 1000;
    }
    .mobile-nav ul {
      list-style: none;
      padding: 0;
    }
    .mobile-nav li {
      margin: 20px 0;
    }
    .mobile-nav a {
      color: #fff;
      text-decoration: none;
      font-size: 1.2rem;
    }

 /*   ▼ レスポンシブ対応*/
    @media screen and (min-width: 769px) {
     .hamburger-wrapper {
        position: fixed;
        top: 60px;
        left: 180px;
        z-index: 1001;
        cursor: pointer;
      }
      .hamburger-icon {
        width: 70px;
        height: 70px;
        cursor: pointer;
        pointer-events: auto;
      }
          /* モバイルメニュー */
      .mobile-nav {
        display: none; /* jQueryで fadeToggle */
        position: fixed;
        top: 0;
        left: 0;
        width: 40%;
        max-width: 300px;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.96);
        padding: 80px 20px;
        z-index: 1000;
      }
    }
